* {
    text-align: center;
}
.heading {
    font-family: Arial;
    margin-top: 40vh;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border-radius:0px 4px 4px 0px;
    border:2px solid #7289d9;
    background: #7289d9;
    color:white;
}
.opt {
    font-size: 1.3em;
    background: #7289d9;
    color: white;
    padding: 5px 10px;
    border: 2px solid #7289d9;
    border-radius: 0px 4px 4px 0px;
    outline: none;
}
button{ 
    font-size:1.3em;
    padding:5px 10px;
    border-radius:0px 4px 4px 0px;
    border:2px solid #7289d9;
    background: #7289d9;
    color:white;
    outline: none;
} 
.dark{ 
    background-color: #222; 
    color: #e6e6e6;
}
